@use "../../assets/colors.scss" as colors;

.burger {
position: fixed;
  width: 37px;
  height: 30px;
  position: fixed;
  top: 10px;
  right: 10px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
  background-color: transparent;
  border: none;
  margin-left: auto;
// border: solid; 
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    border: 0.1px solid;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
}

.burger span:nth-child(1) {
  top: 0px;
}

.burger span:nth-child(2),
.burger span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%);
}

.burger span:nth-child(4) {
  bottom: 0;
}

.burger.open span:nth-child(1) {
  top: 50%;
  // transform: translateX(-50%);
  width: 0%;
  height: 0;
  left: 50%;
  
}

.burger.open span:nth-child(2) {
  transform: rotate(45deg) ;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg) ;
}

.burger.open span:nth-child(4) {
  bottom: 50%;
  // transform: translateY(50%);
  width: 0%;
  height: 0;
  left: 50%;

  border: none;
}

@media (max-width: 767px){
  .burger {
    display: block;
  }
}