@use '../../assets/colors.scss' as colors;


.text{
    background-color: colors.$background;
    padding: 10px;
   
   p{
    margin-bottom: 10px;
    font-size: 18px;
    &:last-child{
        margin-bottom: 90px;
    }
   }
  
}