@use '../../assets/colors.scss' as colors;
.wrapper{
    background-color: colors.$blue;
    
    .card-container{
        margin: 0 auto;
        max-width: 844px;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-evenly;
    }
}
