@use '../../assets/colors.scss' as colors;

.header{
padding: 15px;
position: fixed;
width: 100%;
top: 0;
z-index: 5;
}

.open-menu{
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: solid;
    border: none;
margin-left: auto;
    &::before{
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        top: 5px;
        left: 0;
        background-color: black;
        
    }
    &::after{
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 5px;
        left: 0;
        background-color: black;

    }
    span{
        width: 100%;
        height: 2px;
        border: none;
        background-color: black;
        

    }
}