@use '../assets/colors.scss' as colors;
.vinyl {
    margin-bottom: 17px;
    animation: rotate-center 6s linear infinite both;
    z-index: 1;
  }

  @keyframes rotate-center {
    0% {
              transform: rotate(0);
    }
    100% {
              transform: rotate(360deg);
    }
  }


  .blured-circle{
    width: 60px;
    height: 60px;
background-color: colors.$blue;
margin-bottom: 17px;
border-radius: 50%;
border: 1px solid black;
filter: blur(3px);
  }
  