@use '../../assets/colors.scss' as colors;

.wrapper {
  width: 100%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  transition-duration: 0.5s;
  .container {
    width: 80%;
    // border: solid;
    position: relative;
    .time{
      position: absolute;
      background-color: red;
      left: 0;
      top: 0;
      height: 100%;
      border-radius: 5px;
      z-index: -3;
    }
    .load{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      border-radius: 5px;
      background-color: green;

      z-index: -4;
      width: 100%;
    }
    .timeline {
      height: 10px;
      color: #000;
      border: 1px solid;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      .buttons {
        .play {
          border-radius: 50%;
          width: 41px;
          height: 41px;
          background-color: #fff;
          border: none;
          svg {
            border: 1px solid black;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            .play {
              transform: translateX(1px);
            }
            .pause {
              transform: translateX(0px);
            }
          }
        }
      }
    }
  }
}
