.wrapper {
  
  width: 100%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
transform: translateY(80px);
transition-duration: .5s;
  .container {
    width: 80%;
    .timeline {
      height: 10px;
      color: brown;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      .buttons {
        .play {
          border-radius: 50%;
          width: 41px;
          height: 41px;
          background-color: #fff;
          svg {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            .play{
              transform: translateX(1px);
              
            }
            .pause{
              transform: translateX(-1px);
            }
          }
        }
      }
    }
  }
}


