@font-face {
    font-family: 'Comic_Neue';
    src: local('Comic_Neue'), url('./fonts/Comic_Neue/ComicNeue-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic_Neue';
    font-weight: normal;
}